:root {
  box-sizing: border-box;
}

.container {
  display: block;
  max-width: 1024px;
  margin-inline: auto;
}

.file-selector-label {
  position: relative;
  display: grid;
  min-height: 128px;
  min-width: 128px;
  border: 1px solid orangered;
  align-content: center;
}

.file-selector {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  opacity: 100%;
}

.file-selector-content {
  p {
    text-align: center;
  }
}


a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}